[user]
  name = Alexey Shrub
  email = worldmind@iki.fi
[color]
  ui = auto
[alias]
  s = status
  c = commit
  a = add
  p = push
  b = switch -c
  d = diff
  l = log -oneline
  bl = branch
  br = branch -d
  co = checkout
  dw = diff --word-diff
  dc = diff --word-diff --word-diff-regex=.
  pom = push origin main
  forcepush = push --force-with-lease
  rmremotetag = git push --delete origin
  rmlocaltag = git tag -d

[push]
	default = simple

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight

[core]
	excludesfile = /home/worldmind/.gitignore.default

